/*********************
******BASE STYLES*****
***********************/
* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

html {
    font-size: 62.5%;
}

body {
    text-align: center;
    color: #030303;
    font-size: 1.6rem;
}

img {
    width: 100%;
}

figure {
    margin: 2.5rem 0;
}

li {
    list-style: none;
    margin: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: #030303;
}

p {
    line-height: 1.3;
    letter-spacing: 1px;
}

h2, h1 {
    text-transform: uppercase;
}

/*********************
******Layout STYLES*****
***********************/
#main-header {
    padding: 0.1rem 1.5rem 2.5rem 1.5rem;
    background-color: #fcf7f3;
}
#main-container {

}

#portfolio {
    padding: 2.5rem 1.5rem;
    background-color: #fff;
}

#skills {
    padding: 2.5rem 1.5rem;
    background-color: #fcf7f3;
}

#contact {
    padding: 2.5rem 1.5rem;
    background-color: #fff;
}

#main-footer {
    padding:  1.5rem 1.5rem;
    background-color: #fcf7f3;
}



/*********************
******Module STYLES*****
***********************/

/******Header*******/
.main-nav-item {
    background-color: #fff;
    margin-bottom: 1.4rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-radius: 0.5rem;
}
.main-nav-item  > a {
    display: block;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.profile-photo {
    width: 70%;
    padding: 2.5rem 0;
}

/******Portoflio*******/
.portfolio > h2 {
    padding: 0 0 1.5rem;
}

.project {
    padding-bottom: 5px;
}

.project-photo {
    padding-bottom: 1.5rem;
}

.project-heading,
.project-p {
    color: #3b3a3a;
}

/******Skillset*******/
.skills > p { 
    padding-bottom: 1.5rem;
}
.skills > h4 {
    text-transform: capitalize;
}

.main-skills {
    text-align: left;
}

.main-skills-item {
    position: relative;
    height: 3.5rem;
    background-color: grey;
    margin-bottom: 1.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.main-skills-item > span{
    display: inline-block;
    height: 3.5rem;
    text-transform: uppercase;
    line-height: 3.5rem;
    padding-left: 0.2rem;
    font-size: 1rem;
    border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    -moz-border-radius: 0 1rem 1rem 0;
    -ms-border-radius: 0 1rem 1rem 0;
    -o-border-radius: 0 1rem 1rem 0;
}

.main-skills-item > i {
    display: inline-block;
    position: absolute;
    right: 0.3rem;
    height: 3.5rem;
    line-height: 3.5rem;
    color: turquoise;
}

.html {
    width: 75%;
    background-color: #54BBB4;
}

.css {
    width: 35%;
    background-color: #E3AC24;
}

.javascript {
    width: 45%;
    background-color: #635B82;
}

.python {
    width: 70%;
    background-color: #2473AB;
}

.php {
    width: 30%;
    background-color: #EA8576;
}


/******CONTACT*******/
.contact > p {
    padding-bottom: 1.5rem;
}

.contact > span {
    display: inline-block;
    margin-bottom: 0.8rem;
}

.contact > span > a {
    cursor: pointer;
}

.contact-form {
    margin-top: 5rem;
    text-align: left;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    width: 100%;
    display: inline-block;
    outline: 0;
}

.contact-form label {
    padding-bottom: 5px;
    font-size: 2rem;
}

.contact-form > fieldset {
    border: none;
}
.contact-form legend {
    text-align: center;
    font-size: 2.4rem;
    color: #545351;
}

.contact-form  input {
    padding: 1rem 0;
}

.contact-form textarea,
.contact-form input {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-bottom: 1.6rem;
}

.contact-form button {
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-style: none;
    outline: 0;
    cursor: pointer;
    color: #fff; 
    background-color: #54BBB4;
    text-transform: uppercase;
    margin: 0 auto;
    
}

/******Footer*******/
.footer {
    display: flex;
}
.footer-nav {
    display: none;
}

.footer span {
    margin-right: auto;
    text-transform: uppercase;
}

.footer span,
.footer a {
    font-size: 2rem;
    color: #545351;
}


/*********************
******STATES STYLES*****
***********************/

.main-nav-item > a:hover,
.main-nav-item > a:active,
.contact-form input:focus {
    border-bottom: 0.2rem solid #54BBB4;
}

@media(min-width: 769px){
    /******Header*******/
    .main-header {
        display: flex;
        flex-direction: column;
    }
    .main-nav {
        display: flex;
        justify-content: center;
    }
    .main-nav-item {
        margin-right: 3rem;
        background-color: initial;
    }

    .main-nav-item > a {
        padding: 0.5rem;
    }

    .profile {
        display: flex;
    }
    
    .profile-p {
        margin: 0px;
    }

    .profile-photo {
        flex-basis: 35%;
        padding: 0 0 0 1rem;
        order: 1;
    }
    .profile > figcaption {
        flex-basis: 65%;
    }

    /******Portfolio*******/
    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }
    
    .project {
        flex-basis: 48%;
        padding: 0 5px;
        margin: 1.5rem auto;
    }

     .portfolio > h2 {
        flex-basis: 100%;
    }

  /******Skills*******/

    .skills {
        display: flex;
        flex-wrap: wrap;
    }
    
    .skills > h2 {
        flex-basis: 100%;
    }

    .skills-info {
        flex-basis: 55%;
    }

    .skills-visuals {
        flex-basis: 42%;
    }





}



